@import '../../../modules/globalConfig.less';

.header_bar{
  width: 100%;
  color: white;
  justify-content: space-between;

  a:link {
    border: 0
  }

  .logo img {
    width: 280px;
  }

  .top_nav {
    margin: 40px 40px 0 0;

    a {
      margin: 0 0.6em;
      display: block;
      line-height: 1em;

      &:link, &:visited{
        color: white;
        font-size: 1.2em;
        text-decoration: none;
      }

      &:link::before,    &:link::after,
      &:visited::before, &:visited::after {
        content: '\feff';
        top: 1px;
        height: 1em;
        width: 0.3em;
        border-color: gold;
        border-width: 2px;
        border-style: solid;
        opacity: 0;
        display: inline-block;
        transition: all 300ms;
        position: relative;
      }

      &:link::before {
        border-width: 3px 0 3px 3px;
        transform: translate(10px, 0) scale(0.75);
      }

      &:link::after {
        border-width: 3px 3px 3px 0;
        transform: translate(-10px, 0) scale(0.75);
      }

      &:hover::before, &:hover::after {
        opacity: 1;
      }

      &:hover::before {
        transform: translate(-13px, 0) scale(0.85);
      }

      &:hover::after {
        transform: translate(13px, 0) scale(0.85);
      }
    }
  }
}

.sidebar_img {
  width: 250px;
}

.app_bar {
  background: none !important;
  padding-right: 0 !important;
  box-shadow: none !important;
  transition: all 300ms;
  visibility: hidden;
  flex-direction: row !important;
  justify-content: space-between;
  align-items: center;

  .logo img {
    transform: scale(1.8) translate(0, 40px);
  }

  &.scrolled {
    background: @main-color !important;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
                0px 4px 5px  0px rgba(0, 0, 0, 0.14),
                0px 1px 10px 0px rgba(0, 0, 0, 0.12) !important;

    .logo {
      img{
        transform: scale(1) translate(0, 0);
      }
    }
  }

  &.hide {
    top: -70px;
  }

  .tool_bar {
    padding-left: 6px !important;
    padding-right: 6px !important;
  }

  .logo {
    @logo-height: 40px;

    top: 0;
    left: 0;
    width: 100%;
    height: 64px;
    justify-content: center;
    align-items: center;
    position: absolute;
    display: flex;

    img{
      height: @logo-height;
      transform: scale(1.8) translate(0, 60px);
      transition: all 300ms;
      display: block;
    }
  }
}

.sidebar_copyright {
  bottom: 15px;
  margin: 0 20px;
  color: #bbb;
  font-size: 0.7em;
  line-height: 1.2em;
  text-align: center;
  position: absolute;
}

@media (max-width: 1000px) {
  .drawer_list {
    width: 250px;
  }

  .app_bar {
    visibility: visible;
    background: none;
    box-shadow: none;
  }

  .header_bar {
    .logo {
      display: none;
    }

    .top_nav {
      display: none;
    }
  }
}

@media (max-width: 600px) {
  .logo {
    height: 56px !important;
  }
}