.index_content {
  h2 {
    line-height: 2em;
  }

  .content_wrap {
    margin: 0 auto;
    max-width: 1300px;
  }

  .tutor_introduction {
    //color: white;
    box-shadow: 0 -40px 40px rgba( 10, 26,  45, 0.4);
    position: relative;
  }

  .tutor_introduction_content {
    max-width: 1000px;
    margin: 0 auto;

    .face_img {
      border-width: 8px;
    }

    .main_text {
      padding-left: 2em;
      font-size: 1.05em;
      line-height: 1.8em;
      //text-shadow: 0 0 6px rgba(255,255,255,0.7);
    }
  }

  .paper_introduction {

    .index_paper_card_container > div {
      width: 100%;
    }

    background-attachment: fixed;
    box-shadow: 0  15px 20px -10px rgba(47, 0, 100, 0.1) inset,
                0 -15px 20px -10px rgba(47, 0, 100, 0.1) inset;
  }
}

.rencent_research_card_container>div {
  width: 100%;
}