.publication_list_item {
  padding: 10px 20px !important;
  flex-direction: column;
  align-items: flex-start !important;

  &:last-of-type {
    border: 0;
  }

  &:hover {
    background: rgba(255, 255, 255, 0.3);

    .author .face_list>ul>li {
      margin: 0 2px;
    }
  }

  .title {
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;

    a:link, a:visited {
      text-decoration: none;
      color: #414141;
    }
  }

  .logo {
    height: 1.5em;

    img {
      width: 1.5em;
      height: 1.5em;
    }
  }

  .publication_title {
    width: 100%;
  }

  .journal_information {
    color: #777;
    margin: 8px 0 0;
    align-items: center;
    display: flex;

    img {
      width: 1.1em;
      height: 1.1em;
      opacity: 0.7;
    }

    .name {
      margin-left: 8px;
      font-size: 0.95em;
    }
  }

  .publication_title {
    .publication_name {
      font-size: 1.1em;
    }
  
    .year {
      margin: 0 0 0 10px;
      font-size: 0.8em;
      color: #333F42;
    }
  }
/*
  .author {
    display: flex;
    justify-content: flex-end;

    .face_list>ul {
      padding: 0;
      padding-right: 1em;
    }
  }
*/

.author {
  width: 100%;
  padding: 13px 0 0 0;
}

.face_list>ul {
  text-align: left;
}

.face_list.fold{
  >ul {
    padding: 0;
    text-align: left;

    >li {
      font-size: 12px;
      margin-right: 1em !important;

      &:hover {
        margin-right: 1em !important;
      }

      .face_img {
        width: 1.3em;
        height: 1.3em;
      }

      span.hide {
        color: #666;
        display: inline;
      }
    }
  }
}
/*   .face_list.fold{
    >ul {
      margin-top: 15px;
      text-align: left;

      >li {
        font-size: 0.9em;
        margin-right: 1em !important;

        &:hover {
          margin-right: 1em !important;
        }

        .face_img {
          width: 1.6em;
          height: 1.6em;
        }

        span.hide {
          color: #666;
          display: inline;
        }
      }
    }
  } */
}