.member_list_wrap {
  margin: 30px auto;
}

.member_list_title {
  margin: 0;
  padding: 1em 0 0;
  font-size: 1.5em;
}

.member_list {
  margin: 0;
  padding: 0 50px;
  font-size: 13px;

  .member {
    margin: 10px 0;
    color: #2f3c4a;
    align-items: center;

    .information {
      padding: 0 0 0 1em;
    }

    p {
      margin: 3px 0;
    }

    .member_photo {
      width: 100%;
      height: 150px;
      padding-top: 10px;
      background: #f4f4f4;
      text-align: center;

      img {
        height: 150px;
      }
    }

    .name_line {
      margin-top: 15px;
    }

    .name {
      font-size: 1.6em;
      line-height: 1.5em;
    }

    .title {
      margin-left: 5px;
      color: rgba(0, 0, 0, 0.7);
      font-size: 0.9em;
    }

    .contact_buttons {
      margin-top: 5px;
      opacity: 0.8;
      svg {
        margin-right: 15px;
      }
    }

    .study_direction {
      margin: 5px 0 3px 0;
      color: gray;
      font-size: 1.1em;
      line-height: 1.5em;
    }
  }
}