.member_detail {
  .card_content {
    padding-bottom: 0.8em;
  }

  .member_detail_content {
    margin: -1em 0 0 0;
  }

  .member_basic {
    padding-bottom: 12px;
  }

  .member_introduction {
    padding: 0 1.5em 5px;
    line-height: 1.8em;
  }

  .side_grid {
    ul {
      padding-top: 0;
    }

    svg {
      min-width: 24px;
      margin-right: 0;
    }
  }

  .nested {
    padding-left: 60px;
    li {
      padding: 4px 12px;
      h3 {
        font-size: 0.8em;
      }
    }
  }
}