.member_list_wrap {
  margin: 30px auto;
}

.member_list_title {
  margin: 0;
  padding: 1em 0 0;
  font-size: 1.5em;
}

.member_list {
  margin: 0;
  padding: 0 50px;
  font-size: 13px;
}

@media (max-width: 685px) {
  .member_list_wrap {
    background: none !important;
    box-shadow: none !important;
  }
  .member_list {
    padding: 0;
  }
}