@import '../../../modules/globalConfig.less';

.article_page {
  max-width: 950px;
  margin: 15px auto;
  padding: 20px;

  >h3 {
    font-size: 2em;
    font-weight: normal;
    text-align: center;
  }

  article {
    line-height: 1.8em;
    
    h1 {
      font-size: 1.7em;
      text-align: center;
      
      &::before, &::after {
        content: '\feff';
        width: 4px;
        height: 0.6em;
        margin: 0 13px;
        display: inline-block;
        border-color: @main-color;
        border-style: solid;
        opacity: 0.9;
        transform: translate(0, 0.2em);
        transition: all 200ms;
      }
      
      &::before {
        border-width: 4px 0 4px 4px;
      }

      &::after {
        border-width: 4px 4px 4px 0;
      }

      &:hover {
        &::before {
          transform: translate(-13px, 0.2em) scale(0.9);
        }

        &::after {
          transform: translate(13px, 0.2em) scale(0.9);
        }
        
        &::before, &::after {
          opacity: 0.7;
        }
      }
    }

    h2 {
      border-left: solid 5px @main-color;
      border-bottom: dashed 1px #ccc;
      margin: 0;
      padding: 10px;
      font-size: 1.5em;
      line-height: 1em;
      text-align: left;
    }
  }
}