@import './globalConfig.less';

body {
  width: 100%;
  background: #eee;
  color: @text-color;
  font-size: 16px;
  font-family: "Roboto", "Helvetica", "Arial", "Microsoft Yahei", "Wenquanyi Micro Hei";
  line-height: 1.5em;
  overflow-y: scroll !important;
}

#root {
  overflow: hidden !important;
}

.flexbox {
  display: flex;
}

.content_wrap {
  max-width: 1200px;
}

img[class^=".MuiListItemIcon-root-"] {
  width: auto;
  height: auto;
}

h2 {
  font-size: 2em;
  font-weight: normal;
  text-align: center;
  line-height: 2.5em;
}

article{
  line-height: 1.9em;
  a:link, a:visited {
    color: @link-color;
    border-bottom: 1px dashed @link-underline-color;
    text-decoration: none;
    transition: color 300ms;
  }

  a:hover {
    color: @link-hover-color;
  }
}

.common_article {
  padding: 0 1em;
  line-height: 1.8em;
  
  h1 {
    font-size: 1.7em;
    text-align: center;
    
    &::before, &::after {
      content: '\feff';
      width: 4px;
      height: 0.6em;
      margin: 0 13px;
      display: inline-block;
      border-color: @main-color;
      border-style: solid;
      opacity: 0.9;
      transform: translate(0, 0.2em);
      transition: all 200ms;
    }
    
    &::before {
      border-width: 4px 0 4px 4px;
    }

    &::after {
      border-width: 4px 4px 4px 0;
    }

    &:hover {
      &::before {
        transform: translate(-13px, 0.2em) scale(0.9);
      }

      &::after {
        transform: translate(13px, 0.2em) scale(0.9);
      }
      
      &::before, &::after {
        opacity: 0.7;
      }
    }
  }

  h2 {
    border-left: solid 5px @main-color;
    border-bottom: dashed 1px #ccc;
    margin: 0;
    padding: 10px;
    font-size: 1.5em;
    line-height: 1em;
    text-align: left;
  }
}

.card_title {
  font-size: 1.5em;
  line-height: 3em;
  font-weight: 400;
  padding-left: 1em;
  margin-bottom: 0;
}

.paper_title {
  margin: 0;
  padding: 1em 0 0;
  font-size: 1.5em;
}

.paper_wrap {
  margin: 30px auto;
}

.loading {
  animation: shining 1500ms infinite;
}

@keyframes shining {
    0% {opacity: 0.6;}
   50% {opacity: 0.4;}
  100% {opacity: 0.6;}
}